body,
html {
  font-family: "Prompt", "Noto Sans KR";
  margin: 0;
  padding: 0;
  background: #FAF5EF;
  color: #2e2c39;
}

ul,
li,
dl,
dt,
dd {
  list-style: none;
}

img {
  border: none;
}

address {
  font-style: normal;
}

h1 {
  font-weight: 600;
  font-size: 24px;
}

h2 {
  font-size: 22px;
  font-weight: 600;
}

p {
  font-size: 18px;
}

.slick-prev::before,
.slick-next::before {
  opacity: 0;
  display: none !important;
}

@keyframes fade-glow {
  0%, 100% { opacity: 0.1; }
  50% { opacity: 1; }
}

.fade-glow {
  animation: fade-glow 1s ease-in-out infinite;
}


