body,
html {
  font-family: "Prompt", "Noto Sans KR";
  margin: 0;
  padding: 0;
  background: #ebf2ff;
  color: #2e2c39;
}

ul,
li,
dl,
dt,
dd {
  list-style: none;
}

img {
  border: none;
}

address {
  font-style: normal;
}

h1 {
  font-weight: 600;
  font-size: 28px;
}

h2 {
  font-size: 22px;
  font-weight: 600;
}

p {
  font-size: 18px;
}

.slick-prev::before,
.slick-next::before {
  opacity: 0;
  display: none !important;
}

